body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  /*color: #00B7FF;*/
}

.button:hover, button:hover {
background:#ffffe0;
}

.lista button {
background:#ffcccb;
}

.lista button:hover {
background:red;
}


.lista tr:nth-child(even) {

}

.lista tr:nth-child(odd) {
background:#‎d3d3d3;
}

.lista tr td:nth-child(2n+1) {
background:#F8F8F8;
}

.lista tr:first-child {
background:#000000;
color:#ffffff;
text-align:center;
}

.lista tr:first-child th {
text-align:center !important;
}

.lista td, .lista th {
padding-left:20px;
padding-right:20px;
}

.apagar {
width:100px !important;
background:#000000 !important;
border:none !important;
}

h1 {
font-weight:bold;
text-align:center;
background:beige;
border-top:5px solid brown;
border-bottom:5px solid brown;
}
