@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
a {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    font-family: 'Noto Sans', Arial, sans-serif;
    font-size: 18px;
    color: #333;
    background-image:
    linear-gradient(
    to right, 
    yellow, beige
    );
    background: red url(https://d1yn1kh78jj1rr.cloudfront.net/image/preview/rnp9KOKvfjdviiioz/storyblocks-classical-electric-guitar-pattern-repeat-seamless-in-black-color-for-any-design-vector-geometric-illustration_SglmDjXnV7_SB_PM.jpg);
}
p {
    line-height: 1.7em;
    text-align: justify;
    margin-bottom: 0.5em;
}
ol,
UL {
    list-style-position: inside;
}
dd {
    margin-left: 20px;
}
li {
    /*padding:4px 0;
    text-indent:-1em;
    padding-left:1em;*/
}
a {
    color: #ff0206;
    text-decoration: none;
    text-shadow: 1px 0px 0px #333;
}
a:hover {
    color: #CF6E4A;
    text-decoration: underline;
    color: #000000;
}
hr {
    margin: 30px 0px;
    border: 0px;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
h1 {
    font-size: 1.3em;
    background: rgba(255, 165, 0, 0.6);
    line-height: 1.6em;
    text-align: left;
    color: black;
    text-shadow: 0px 1px 2px #fff;
    margin: 20px 0px 15px 0px;
}
h2 {
    color: #47a3da;
    font-size: 1.3em;
    margin: 30px 0px 15px 0px;
}

ul.arq {
    list-style-type: none;
}
#content {
    position: relative;
    width: 100%;
}
#left {
    z-index:15;
    border-right:2px solid black;
    /*padding-top: 60px;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    background: black;
}
#left li {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    /*padding:15px 35px;*/
}
#left a {
    display: block;
    /*margin:0 15px;*/
    padding: 5px 10px;
    /*word-break: break-all;*/
    /*white-space: nowrap;*/
    font-size: 12px;
    background: beige;
}
#left a:hover {
    background:yellow;
    display:block;
}
#left li {
    margin-bottom: 3px;
}
#right {
    position: relative;
    padding:60px 50px 50px 50px;
    margin-left: 300px;
}
#right iframe {
    position:fixed;
    width: 100%;
    height: 100%;
    min-height:3800px;
    }
#right h1 {
    position:fixed;
    top:0;
    left:0;
    background:black;
    color:#ffffff;
    margin:0;
    display:inline-block;
    z-index:10;
    width:100%;
    text-align:center;
    margin:0px;
    padding:0px;

}

table,tr, th, td {
    border:1px solid #333333;
}

td, th {padding:5px 15px;}

a.goTop {position:fixed;
bottom:50px;
right:50px;
}
