<%- include('header'); -%>

    <h1>ALUNOS</h1>
    
    <br />
    
    <button onclick="formAluno()">NOVO ALUNO</button>
    
    <div id="formAluno" style="display:none;background:beige;padding:0px 20px;">
        <form method="post" action="alunos" style="margin:0;">
            <table>
                <tr>
                    <th><label for="identificador">Identificador:</label></th>
                    <th><label for="identificador">Nome:</label></th>
                    <th><label for="identificador">Curso:</label></th>
                </tr>
                <tr>
                    <td><input type="text" name="identificador" /></td>
                    <td><input type="text" name="nome" /></td>
                    <td><input type="text" name="curso" /></td>
                    <td><input type="submit" value="Registar" /></td>
                </tr>
            </table>
        </form>
    </div>
    
    <br />
    <br />
    
    <table class="lista" style="width:100%;">
    <tr>
        <th style="width:170px;">IDENTIFICADOR</th>
        <th>NOME</th>
        <th>CURSO</th>
        <th style="width:150px;">NOTAS</th>
        <th class="apagar"></th>
    </tr>
    <%if(lista) {%>
    <% for (var i = 0; i < lista.length; i++) { %>
    <tr>
        <td><%= lista[i]["identificador"] %></td>
        <td><%= lista[i]["nome"] %></td>
        <td><%= lista[i]["curso"] %></td>
        <td style="text-align:center;"><a class="button" href="/alunos/<%=lista[i]['idAluno']%>">VER</a></td>
        <td class="apagar"><button onclick="apagarConfirm('<%=lista[i]["idAluno"]%>')">Apagar</button></td>
    </tr>
    <% } %>
    <% } %>
    </table>
    
<script>
function formAluno(){
    $('#formAluno').toggle();
}

function apagarConfirm(idAluno){
    if (confirm('De certeza que quer apagar?')) {
        apagarAluno(idAluno);
    }
}

$('td button').hover(function(){
  $(this).parent().siblings().eq(1).css("background-color", "red" );
  }, function(){
  $(this).parent().siblings().eq(1).css("background-color", "transparent" );
});
</script>

<%- include('footer'); -%>
