<%- include('header'); -%>

    <h1>NOTAS</h1>
    
    <br />

    <h5 style="margin-bottom:5px;"><b>Aluno:</b></h5>

    <ul style="background:#F8F8F8;display:inline-block;padding:5px 15px;">
        <li><b>Id:</b> <%=lista[0]["identificador"]%></li>
        <li><b>Nome:</b> <%=lista[0]["nome"]%></li>
        <li><b>Curso:</b> <%=lista[0]["curso"]%></li>
    </ul>

    <br />
    <br />

    <button onclick="formAluno()">ADICIONAR NOTA</button> <a href="/alunos" class="button" style="margin-left:20px;">&#8617; Voltar à lista de alunos</a>
    
    <div id="formNota" style="display:none;background:beige;padding:0px 20px;">
        <form method="post" action="alunos/<%=idALuno%>/notas" style="margin:0;">
            <table>
                <tr>
                    <th><label for="identificador">Identificadores:</label></td>
                    <th><label for="identificador">Nota:</label></td>
                </tr>
                <tr>
                    <td><input type="text" name="identificadores" /></td>
                    <td><input type="text" name="nota" /></td>
                    <td><input type="submit" value="Registar" /></td>
                </tr>
            </table>
        </form>
    </div>
    
    <br />
    <br />

    <table class="lista" style="width:100%;">
    <tr>
        <th style="width:200px;">NOTA</th>
        <th>IDENTIFICADORES</th>
        <th class="apagar"></th>
    </tr>
    <%if(lista) {%>
    <% for (var i = 0; i < lista[0]["notas"].length; i++) { %>
    <tr>
        <td><%= lista[0]["notas"][i]["nota"] %></td>
        <td><%= lista[0]["notas"][i]["identificadores"] %></td>
        <td class="apagar"><button onclick="apagarConfirm('<%=lista[0]["notas"][i]["idNota"]%>')">Apagar</button></td>
    </tr>
    <% } %>
    <% } %>

<script>
function formAluno(){
    $('#formNota').toggle();
}

function apagarConfirm(idNota){
    if (confirm('De certeza que quer apagar?')) {
        apagarNota('<%=idALuno%>', idNota);
    }
}

$('td button').hover(function(){
  $(this).parent().siblings().eq(1).css("background-color", "red" );
  }, function(){
  $(this).parent().siblings().eq(1).css("background-color", "transparent" );
});
</script>

<%- include('footer'); -%>
