<%- include('header'); -%>

    <h1>CLAV</h1>

<h2 style="text-align:center;display:block;">Classificação e Avaliação da Informação Pública</h2>

    <br />
 <a href="/" class="button">Voltar</a>
 <br>
    
    <h3>Processos de que a tipologia é dona:</h3>

    <ul>
    <% for (var i = 0; i < lista.length; i++) { %>
        <li>Código: <%=lista[i]["codigo"]%></a></li>
       <li>Título: <%=lista[i]["titulo"]%></a></li>
       <li>Id: <%=lista[i]["id"]%></a></li>
       <br><br>
    <% } %>
</ul>

<%- include('footer'); -%>
