<%- include('header'); -%>

    <h1>CLAV</h1>

<h2 style="text-align:center;display:block;">Classificação e Avaliação da Informação Pública</h2>

    <br />
 
    
    <h3>Lista de Tipologias:</h3>
    <ul>
    <% for (var i = 0; i < lista.length; i++) { %>
        <li><a href="/tipologia/<%=lista[i]["id"]%>"><%=lista[i]["sigla"]%></a></li>
    <% } %>
</ul>

<%- include('footer'); -%>
