<%- include('header'); -%>

    <h1>CLAV</h1>

<h2 style="text-align:center;display:block;">Classificação e Avaliação da Informação Pública</h2>

    <br />
    
    <a href="/" class="button">Voltar</a>
    <br>
    <h3>Info da Tipologia</h3>
<p><b>Designação:</b> <%=lista["designacao"] %></p>
<p><b>Sigla:</b> <%=lista["sigla"] %></p>
<p><b>Estado:</b> <%=lista["estado"] %></p>

<a href="/dono/tip_<%=lista["sigla"] %>" class="button">ENTIDADES DONO</a>



<%- include('footer'); -%>
