extends layout

block content
  .w3-card-4
    header.w3-container.w3-blue
      h2 Novo ficheiro

    form.w3-container(action="/api/ficheiros" method="post" enctype="multipart/form-data")
      .w3-container(id='lista')
        .w3-container(id='f1')
          .w3-cell-row
            label.w3-cell Descrição:
            input.w3-input.w3-cell(type="text" name="desc")
          .w3-cell-row
            label.w3-cell Ficheiro:
            input.w3-input.w3-cell(type="file" name="ficheiro")
      button.w3-button.w3-round.large.w3-indigo(id='mais1') + 1
      input.w3-input(type="submit" value="Enviar")
  
  .w3-card-4.modal(id='display')
  
  .w3-card-4.modal(id='imagemdisplay')

  .w3-card-4
    header.w3-container.w3-blue
      h1 Lista de ficheiros armazenados

    .w3-container
      if (lista.length > 0)
        table.w3-table-all
          tr
            th Descrição
            th Tipo
            th Path
            th Tamanho
          each f in lista
            tr(id = 'f_' + f._id, class= 'ficheiro', onclick="show_me(this," + JSON.stringify(f) + ")")
              td= f.desc
              td= f.mimetype
              td= f.name
              td= f.size

    footer.w3-container.w3-blue
      address PRI - MEI 2019/2020
