doctype html
html
  head
    title Gestor de Ficheiros
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/javascripts/form-ficheiros.js')

    script(src="/javascripts/jquery.modal.min.js")
    link(rel="stylesheet" href="/stylesheets/jquery.modal.min.css")
  body
    block content
