extends layout
block content
    #content
        #left
            ul.arq
                - for (var i=1; i<=448; i++)
                    li
                        a(href="musica/"+i+"#content", target="iframe_main")=i + " - DOC" + i + ".XML"

        #right
            h1 Arquivo Sonoro
               
                h2 FICHA (iframe):
                iframe#iframe_main(name="iframe_main", srcdoc="Selecione uma ficha para visualizar...") O seu browser não suporta iframes... Por favor atualize para uma versão mais recente
                
            a.goTop(href="#content") Voltar ao topo
